<h1>Places</h1>
<% if @current_user != nil %>
<div class= "mb-3">
<ul>
  <% for place in @places %>
   <a href="/places/<%= place["id"] %>" class="btn btn-outline-dark"><%= place["name"] %></a>
      </div>
  <% end %>
</ul>

<p>
  <a href="/places/new">New place</a>
</p>